TAURI_SIGNING_PRIVATE_KEY="dw50...=="
TAURI_SIGNING_PRIVATE_KEY_PASSWORD="..."

# in Windows, sometimes you have to run this in the same terminal you are building the app in, otherwise it won't be able to find the env vars. You can also set them in your system environment variables.
$env:TAURI_SIGNING_PRIVATE_KEY="dw50...=="
$env:TAURI_SIGNING_PRIVATE_KEY_PASSWORD="..."